/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    font-size: 20px;
    font-family: "Times New Roman", serif;
}

.body{
    font-family: "Times New Roman", Georgia, serif;

}


h1, h2, h3, h4, h5, h6{
    font-family: "Times New Roman", serif;
    letter-spacing: 5px;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: lightgray;
    padding: 20px;
    font-family: "Times New Roman", serif;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

  /* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
}