<nav class="navbar navbar-inverse w3-white w3-large">
    <div class="container-fluid w3-padding-16" style="letter-spacing:2px;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle w3-black" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand w3-bar-item w3-button w3-text-black" href="/home"><i>Migrant Worker Protector</i></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                          <li><a class="w3-bar-item w3-button w3-text-black" href="/home">Home</a></li>
          <li>
              <div class="dropdown w3-mobile w3-bar-item">
                  <button class="dropdown-button">Wage Information <i class="fa fa-caret-down"></i></button>
                  <div class="dropdown-content">
                      <a href="/SalaryCalculator" class="w3-bar-item w3-button w3-mobile">Salary Calculator</a>
                      <a href="/StatisticalData" class="w3-bar-item w3-button w3-mobile">Explore Statistic</a>

                  </div>
              </div>
          </li>

          <li><a class="w3-bar-item w3-button w3-text-black" href="/AskForHelp" >Ask For Help</a></li>

          <li><a class="w3-bar-item w3-button w3-text-black" href="/Game" >Scavenger Hunt Game</a></li>
          <li><a class="w3-bar-item w3-button w3-text-black" href="/Guideline" >Guideline</a></li>


            </ul>

        </div>
    </div>
</nav>

<div class="carousel">


    <h1 class="w3-center">About Us</h1>
    <hr>
    <h3 class="w3-center">We<span>&#39;</span>re ICE-CDG from Group TP9</h3>
    <br>
    <!-- Page Container -->
    <div class="w3-row-padding w3-margin-top">
        <div class="w3-half">
            <img src="../static/images/logo.png" alt="logo">
        </div>
        <div class="w3-half">
            <p>We are a positive team, as our team name :)</p><br>

            <p>I: Innovative, C: Cohesive, E: Efficient, C: Collaborative, D: Dynamic, and G: Goal-orientation</p><br>

            <p>We are committed to completing the website on decent work and economic growth during FIT5120.</p><br>

            <p>Our team is currently working on solutions to reduce the unequal treatment of migrant workers in
                Victoria, who need to be paid equally, protected properly and treated with the respect they deserve. We
                hope our efforts can help these migrant workers better defend their rights.</p>
        </div>
    </div>
    <br>
    <hr>
    <div class="w3-row-padding w3-center w3-margin-top">
        <div class="w3-third">
            <div class="w3-card w3-container" style="min-height:50px">
                <h3>Weizhe Han</h3><br>
                <p>Master of Business Information System</p>
                <br>
                <br>
            </div>
        </div>

        <div class="w3-third">
            <div class="w3-card w3-container" style="min-height:50px">
                <h3>Yichen Ning</h3><br>
                <p>Master of Data Science</p>
                <br>
                <br>
            </div>
        </div>
        <div class="w3-third">
            <div class="w3-card w3-container" style="min-height:50px">
                <h3>Wai Shan Ma</h3><br>
                <p>Master of Cyber Security</p>
                <br>
                <br>
            </div>
        </div>

    </div>

    <hr>
    <div class="w3-row-padding w3-center w3-margin-top">
        <div class="w3-half">
            <div class="w3-card w3-container" style="min-height:50px">
                <h3>Yongyi Li</h3><br>
                <p>Master of Information Technology</p>
                <br>
                <br>
            </div>
        </div>

        <div class="w3-half">
            <div class="w3-card w3-container" style="min-height:50px">
                <h3>Aadithya Chandrasekar</h3><br>
                <p>Master of Business Information System</p>
                <br>
                <br>
            </div>
        </div>

    </div>
    <button id="scroll-button" onclick="scrollPage()"><i id="scroll-icon" class="fa fa-angle-down"></i></button>
</div>
<script type="text/javascript" src="/static/js/temp.js"></script>


