<nav class="navbar navbar-inverse w3-white w3-large">
  <div class="container-fluid w3-padding-16" style="letter-spacing:2px;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle w3-black" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand w3-bar-item w3-button w3-text-black" href="/home"><i>Migrant Worker Protector</i></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
          <li><a class="w3-bar-item w3-button w3-text-black" href="/home">Home</a></li>
          <li>
              <div class="dropdown w3-mobile w3-bar-item">
                  <button class="dropdown-button">Wage Information <i class="fa fa-caret-down"></i></button>
                  <div class="dropdown-content">

                      <a href="/SalaryCalculator" class="w3-bar-item w3-button w3-mobile">Salary Calculator</a>
                      <a href="/StatisticalData" class="w3-bar-item w3-button w3-mobile">Explore Statistic</a>
                  </div>
              </div>
          </li>

          <li><a class="w3-bar-item w3-button w3-text-black active" href="/AskForHelp">Ask For Help</a></li>

          <li><a class="w3-bar-item w3-button w3-text-black" href="/Game">Scavenger Hunt Game</a></li>
          <li><a class="w3-bar-item w3-button w3-text-black" href="/Guideline">Guideline</a></li>


      </ul>

    </div>
  </div>
</nav>

<div class="carousel">

    <h1 class="w3-center">Ask For Help</h1>
    <h3 class="w3-center">We can help you find solutions to common problems faced by migrant workers.</h3>
    <hr>

    <div class="w3-display-container w3-content" style="max-width:1500px;min-width:200px">
        <img class="w3-image" src="../static/images/labour-law.jpg" alt="info_background" width="5001" height="3335"
             style="opacity: 55%;">
        <div class="w3-display-topmiddle w3-padding-16 w3-card" style="width:90%; background-color: silver">

            <div id="quiz-container">
                <h4 class="w3-center"><i>To obtain the most appropriate solution for your situation, please complete the
                    following quiz.</i></h4>
                <hr>
                <div class="question-container" style="padding-left: 300px">
                    <h3 id="question1-heading">Question 1: Which category best describes the problem you are facing?</h3>
                    <h4>Please choose from the following options:</h4>
                    <br>
                    <div class="answer-container" style="padding-left: 200px">
                        {% for help_type in types %}
                            <input type="radio" name="help_type" id="{{ help_type[0] }}{{ loop.index }}" value="{{ help_type[0] }}">
                            <label for="{{ help_type[0] }}{{ loop.index }}">{{ help_type[0] }}</label>
                            <br>
                            <br>
                        {% endfor %}

                    </div>
                </div>

            {% for topic in topics %}

                <div class="question-container" style="display:none; padding-left: 300px">
                    <h3 id="question2-heading">Question 2: What specific problem are you experiencing?</h3>
                    <h4>Please choose from the following options:</h4>
                    <br>
                    <div class="answer-container" style="padding-left: 200px">
                        {% for choice in topics[topic] %}
                            <input type="radio" name="topic" id="{{ choice[0] }}{{ loop.index }}" value="{{ choice[0] }}">
                            <label for="{{ choice[0] }}{{ loop.index }}">{{ choice[0] }}</label>
                            <br>
                            <br>
                        {% endfor %}
                    </div>
                </div>

            {% endfor %}

                <div class="question-container" style="display:none; padding-left: 300px">
                    <h3 id="question3-heading">Question 3: Have you tried to resolve the problem with your employer or manager?</h3>
                    <br>
                    <div class="answer-container" style="padding-left: 200px">
                        <input type="radio" name="fix" id="fix1" value="yes">
                        <label for="fix1">Yes</label>
                        <br>
                        <br>
                        <input type="radio" name="fix" id="fix2" value="no">
                        <label for="fix2">No</label>
                        <br>
                        <br>

                    </div>
                </div>

                <div id="button-container">
                    <button class="quiz-button w3-left" id="prev-btn" disabled>Previous</button>
                    <button class="quiz-button w3-right" id="next-btn">Next</button>
                    <button class="quiz-button w3-right" id="submit-btn" style="display:none;" onclick="redirectToResult()" >Submit</button>
                </div>

                <div class="w3-center" id="result-container" style="display:none;">
                    <p id="result-text"></p>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/quiz.js"></script>