<nav class="navbar navbar-inverse w3-white w3-large">
    <div class="container-fluid w3-padding-16" style="letter-spacing:2px;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle w3-black" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand w3-bar-item w3-button w3-text-black" href="/home"><i>Migrant Worker Protector</i></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                          <li><a class="w3-bar-item w3-button w3-text-black" href="/home">Home</a></li>
          <li>
              <div class="dropdown w3-mobile w3-bar-item">
                  <button class="dropdown-button active">Wage Information <i class="fa fa-caret-down"></i></button>
                  <div class="dropdown-content">
                      <a href="/SalaryCalculator" class="w3-bar-item w3-button w3-mobile active">Salary Calculator</a>
                      <a href="/StatisticalData" class="w3-bar-item w3-button w3-mobile">Explore Statistic</a>

                  </div>
              </div>
          </li>
                <li><a class="w3-bar-item w3-button w3-text-black" href="/AskForHelp" >Ask For Help</a></li>
          <li><a class="w3-bar-item w3-button w3-text-black" href="/Game" >Scavenger Hunt Game</a></li>
          <li><a class="w3-bar-item w3-button w3-text-black" href="/Guideline" >Guideline</a></li>


            </ul>

        </div>
    </div>
</nav>

<div class="carousel">

 <h1 class="w3-center" style="color: #000000">Salary Calculator</h1>
            <h3 class="w3-center " style="color: #000000">You can check your salary be paid fairly or not.</h3>
    <hr>
    <div class="w3-display-container w3-content" style="max-width:1500px">


        <img class="w3-image" src="../static/images/safety_bg.jpg" alt="background" width="5184" height="3456"
             style="opacity: 70%">
        <div class="w3-display-topmiddle" style="width:75%; margin-top: 2%" >
            <!-- Tabs -->
            <div class="w3-container w3-white w3-padding-16">
                <div class="w3-row-padding" style="margin:0 -16px;">
                    <div class="w3-half">
                        <h3>Please enter your answer here</h3>
                        <hr>

                        <div class="w3-content">
                        <form class="w3-container w3-white w3-padding-16" action="/SalaryCalculator" method="post">
                            <div class="question-container">
                                <label id="question1-heading" class="required">Your Industry?</label>
                                <br>
                                <div class="answer-container">
                                    <input class="w3-input w3-section w3-border" type="text" list="industry-options"
                                           required name="industry" placeholder="Please Select Your Industry...">
                                    <datalist id="industry-options">
                                        {% for classification in classifications %}
                                            <option value="{{ classification[0] }}"></option>
                                        {% endfor %}
                                    </datalist>


                                </div>
                            </div>

                        <br>
                        <hr>
                        <div class="question-container">
                            <label id="question2-heading">Your Employment Type?</label>
                            <br>
                            <br>
                            <div class="answer-container w3-center">
                                <select class="w3-input w3-section w3-border" required name="employment-type">
                    <option>Full-time</option>
                    <option>Part-time</option>
                    <option>Casual</option>
                </select>
{#                                <input type="radio" name="employment-type" id="employment-type1" value="Full-time">#}
{#                                <label for="employment-type1">Full-time</label>#}
{#<br>#}
{#                                <br>#}
{#                                <input type="radio" name="employment-type" id="employment-type2" value="Part-time">#}
{#                                <label for="employment-type2">Part-time</label>#}
{#<br>#}
{#                                <br>#}
{#                                <input type="radio" name="employment-type" id="employment-type3" value="Casual">#}
{#                                <label for="employment-type3">Casual</label>#}

                            </div>
                        </div>

<br>
                        <hr>

                        <div class="question-container">
                            <label id="question3-heading">Want to calculate your holiday pay?</label>
                            <br>
                            <br>
                            <div class="answer-container w3-center">
                                <select class="w3-input w3-section w3-border" required name="holiday-pay">
                    <option>Yes</option>
                    <option>No</option>
                </select>
{#                                <input type="radio" name="holiday-pay" id="holiday-pay1" value="yes">#}
{#                                <label for="holiday-pay1">Yes</label>#}
{#<br>#}
{#                                <br>#}
{#                                <input type="radio" name="holiday-pay" id="holiday-pay2" value="no">#}
{#                                <label for="holiday-pay2">No</label>#}

                            </div>
                        </div>

<hr>
                        <br>
                            <div id="button-container">
                                <button class="function-button w3-left" onclick="window.location.href='/SalaryCalculator';">Reset Your Answer</button>
                                <button class="function-button w3-right"  onclick="calculateWage()">Calculate</button>
                            </div>

                        </form>
                        </div>
                    </div>
                    <div class="w3-half">
                        <h3>The results will show below: </h3>
                        <hr>

                    <div id="result-container">
                      <h4>Your Selected Industry is: <b>{{ industry }}</b></h4>
                        <br>
                      <h4>Your Selected Employment Type is: <b>{{ employment_type }}</b></h4>
                        <br>
                      <h4>Is This Holiday Pay?: <b>{{ holiday_pay }}</b></h4>
                        <br>
                    </div>
                    <br>
                    <hr>
                        <h4>Average Hourly Wage about your situation is: </h4>
                        <br>
                        {% if result[0] == null %}
                            <h4 class="w3-center" id="average-wage"><b>0</b></h4>
                        {% else %}
                            <h4 class="w3-center" id="average-wage"><b>{{ result[0][0] }}</b></h4>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/calculator.js"></script>
