<nav class="navbar navbar-inverse w3-white w3-large">
    <div class="container-fluid w3-padding-16" style="letter-spacing:2px;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle w3-black" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand w3-bar-item w3-button w3-text-black" href="/home"><i>Migrant Worker Protector</i></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                          <li><a class="w3-bar-item nav-button w3-text-black" href="/home">Home</a></li>
          <li>
              <div class="dropdown w3-mobile w3-bar-item">
                  <button class="dropdown-button active">Wage Information <i class="fa fa-caret-down"></i></button>
                  <div class="dropdown-content">
                      <a href="/SalaryCalculator" class="w3-bar-item nav-button w3-mobile active">Salary Calculator</a>
                      <a href="/StatisticalData" class="w3-bar-item nav-button w3-mobile">Explore Statistic</a>

                  </div>
              </div>
          </li>

          <li>
              <div class="dropdown w3-mobile w3-bar-item">
                  <button class="dropdown-button">Ask For Help <i class="fa fa-caret-down"></i></button>
                  <div class="dropdown-content">
                      <a href="/StatisticalData" class="w3-bar-item w3-button w3-mobile">General Answer</a>
                      <a href="/BackgroundCollection" class="w3-bar-item w3-button w3-mobile">Get Relevant Answers</a>
                  </div>
              </div>
          </li>

          <li><a class="w3-bar-item nav-button w3-text-black" href="/Game" >Scavenger Hunt Game</a></li>
          <li><a class="w3-bar-item nav-button w3-text-black" href="/Guideline" >Guideline</a></li>


            </ul>

        </div>
    </div>
</nav>

<div class="carousel">

    <div class="w3-display-container w3-content" style="max-width:1500px">
  <img class="w3-image" src="../static/images/safety_bg.jpg" alt="background" width="5184" height="3456" style="opacity: 70%">
  <div class="w3-display-middle" style="width:65%">
      <h1 class="w3-center" style="color: #FFFFFF">Salary Calculator</h1>
    <h3 class="w3-center " style="color: #FFFFFF">You can check your salary be paid fairly or not.</h3>
    <!-- Tabs -->
    <div class="w3-container w3-white w3-padding-16">
      <h3>Please enter your answer here</h3>
       <hr>
        <label>Your Industry</label>
                <select class="w3-input w3-section w3-border" required name="industry">
                    <option>Select your industry...</option>
                    <option>Agriculture</option>
                    <option>Air, rail and water transport</option>
                    <option>Arts and recreational services</option>
                    <option>Building, construction and on-site trades</option>
                    <option>Business, Finance and Employment Services</option>
                    <option>Clerical</option>
                    <option>Contract Cleaning</option>
                    <option>Education, training and children's services</option>
                    <option>Food manufacturing and processing</option>
                    <option>Hair and Beauty</option>
                    <option>Health Support Services</option>
                    <option>Horticulture</option>
                    <option>Hospitality</option>
                    <option>Manufacturing</option>
                    <option>Mining</option>
                    <option>Personal and household services</option>
                    <option>Power, water and gas</option>
                    <option>Print, Media and Telecommunications</option>
                    <option>Professional Services</option>
                    <option>Real Estate</option>
                    <option>Retail</option>
                    <option>Retail Trade</option>
                    <option>Road Transport</option>
                    <option>Security</option>
                    <option>Security and public services</option>
                    <option>Social, community, disability and home care services</option>
                    <option>Storage services and wholesale</option>
                    <option>Other</option>
                </select>


      <p><button class="function-button">Submit your answers</button></p>
    </div>
  </div>
    </div>
</div>