<nav class="navbar navbar-inverse w3-white w3-large">
    <div class="container-fluid w3-padding-16" style="letter-spacing:2px;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle w3-black" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand w3-bar-item w3-button w3-text-black" href="/home"><i>Migrant Worker Protector</i></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                          <li><a class="w3-bar-item w3-button w3-text-black" href="/home">Home</a></li>
          <li>
              <div class="dropdown w3-mobile w3-bar-item">
                  <a class="w3-bar-item dropdown-button w3-mobile active">Wage Information <i class="fa fa-caret-down"></i></a>
                  <div class="dropdown-content">
                      <a href="/StatisticalData" class="w3-bar-item w3-button w3-mobile active">Explore Statistic</a>
                      <a href="/SalaryCalculator" class="w3-bar-item w3-button w3-mobile">Salary Calculator</a>


                  </div>
              </div>
          </li>


          <li><a class="w3-bar-item w3-button w3-text-black" href="/AskForHelp" >Ask For Help</a></li>

          <li><a class="w3-bar-item w3-button w3-text-black" href="/Game" >Scavenger Hunt Game</a></li>
          <li><a class="w3-bar-item w3-button w3-text-black" href="/Guideline" >Guideline</a></li>


            </ul>

        </div>
    </div>
</nav>

<div class="carousel">


    <div class="w3-container w3-content" style="max-width:1400px;">
        <div class="w3-display-topmiddle" style="width:90%">
            <h1 class="w3-center">Explore Statistic</h1>
            <hr>
            <div class="navbar w3-center">
                <button class="w3-bar-item bg-button tablink" onclick="openLink(event, 'holiday');">Check Holiday</button>
                <button class="w3-bar-item bg-button tablink" onclick="openLink(event, 'industry');">Average Weekly
                    Earnings By Industry
                </button>
                <button class="w3-bar-item bg-button tablink" onclick="openLink(event, 'state');">Average Weekly Earnings
                    By State
                </button>


            </div>

        </div>

            <!-- Tabs -->
            <div id="holiday" class="w3-white w3-padding-16 myLink">
                <br>
                <br>
                <br>
                <br>
                                <br>
                <br>
                <br>
                <br>
                <h3 class="w3-center"><b>You can check if you are working on public holidays or not.</b></h3>
                <br>
                <br>
                <div class="w3-row">
                    <div class="w3-col m9">
                        <iframe height="800px" width="100%" allow="fullscreen" frameborder="no"
                                src="https://ylii0487.shinyapps.io/datavis/"></iframe>
                    </div>
                    <div class="w3-col m3">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <p>As you are not familiar with Victoria<span>&#39;</span> public holiday, you can check it on this calendar. If you work on public holidays, you should be paid <b>MORE</b></p>
{#                        <br>#}
{#                        <p>You can click on the marked public holiday to see details (and how much you should be paid if#}
{#                            you work on it). </p>#}

                        <hr>
                        <p>If you want to see your industry holiday hourly salary, you can click this button</p>
                        <button class="function-button w3-center" onclick="window.location.href='/SalaryCalculator';" style="margin-left: 20%">Salary Calculator</button>

                    </div>
                </div>


            </div>


            <div id="industry" class="w3-white w3-padding-16 myLink">
                                <br>
                <br>
                <br>
                <br>
                                <br>
                <br>
                <br>
                <br>
                <h3 class="w3-center"><b>You can check the average weekly income of different industries in Victoria</b></h3>
                <br>
                <br>
                <div class="w3-row-padding w3-margin-top">
                    <div class="w3-half">
                        <iframe height="800px" width="100%" allow="fullscreen" frameborder="no"
                                src="https://flashn.shinyapps.io/iteration3_barchart_industry/"></iframe>
                    </div>
                    <div class="w3-half">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>

                        <p>The X-axis shows the list of industries, and the Y-axis shows the
                            average weekly salary from <span>&#36;</span>1200 to <span>&#36;</span>2900</p><br>
                        <p>You can also use the drop-down menu on the left to see different statistics for men and
                            women.</p>

                        <hr>
                        <p>If you want to check whether you have been underpaid, you can click this button</p>
                        <button class="function-button w3-center" onclick="window.location.href='/SalaryCalculator';" style="margin-left: 20%">Salary Calculator</button>


                    </div>
                </div>


            </div>


            <div id="state" class="w3-white w3-padding-16 myLink">
                                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h3 class="w3-center"><b>You can check the average weekly income of different states in Victoria</b></h3>
                <br>
                <br>
                <div class="w3-row-padding w3-margin-top">
                    <div class="w3-half">
                        <iframe height="800px" width="100%" allow="fullscreen" frameborder="no"
                                src="https://flashn.shinyapps.io/iteration3_barchart_state/"></iframe>
                    </div>
                    <div class="w3-half">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <p>The X-axis shows the list of states, and the Y-axis shows the
                            average weekly salary from <span>&#36;</span>1500 to <span>&#36;</span>2100.</p><br>
                        <p>You can also use the drop-down menu on the left to see different statistics for men and
                            women.</p>

                        <hr>
                        <p>If you want to check whether you have been underpaid, you can click this button</p>
                        <button class="function-button w3-center" onclick="window.location.href='/SalaryCalculator';" style="margin-left: 20%">Salary Calculator</button>

                    </div>

                    <br>
                    <hr>

                    </div>
                </div>


            </div>
        </div>
</div>
        <script type="text/javascript" src="/static/js/nav.js"></script>

