<nav class="navbar navbar-inverse w3-white w3-large">
  <div class="container-fluid w3-padding-16" style="letter-spacing:2px;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle w3-black" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand w3-bar-item w3-button w3-text-black" href="/home"><i>Migrant Worker Protector</i></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
          <li><a class="w3-bar-item w3-button w3-text-black" href="/home">Home</a></li>
          <li>
              <div class="dropdown w3-mobile w3-bar-item">
                  <button class="dropdown-button">Wage Information <i class="fa fa-caret-down"></i></button>
                  <div class="dropdown-content">
                      <a href="/StatisticalData" class="w3-bar-item w3-button w3-mobile">Explore Statistic</a>
                      <a href="/SalaryCalculator" class="w3-bar-item w3-button w3-mobile">Salary Calculator</a>

                  </div>
              </div>
          </li>

          <li><a class="w3-bar-item w3-button w3-text-black" href="/AskForHelp" >Ask For Help</a></li>

          <li><a class="w3-bar-item w3-button w3-text-black" href="/Game" >Scavenger Hunt Game</a></li>
          <li><a class="w3-bar-item w3-button w3-text-black" href="/Guideline" >Guideline</a></li>


      </ul>

    </div>
  </div>
</nav>

<div class="carousel">
    <br>
    <div class="w3-display-container w3-content" style="max-width:1500px;min-width:200px">
      <img class="w3-image" src="../static/images/safety_bg.jpg" alt="info_background" width="1500" height="700" style="opacity: 35%;">
      <div class="w3-display-topmiddle w3-padding-16 w3-card" style="width:75%; margin-top: 2%">
        <!-- Tabs -->
        <div class="w3-container w3-white w3-padding-16 myLink" action="/BackgroundCollection">
            <br>
            <h3 class="w3-center">Successfully Submit Your Email To Us</h3>
            <h3 class="w3-center">We will send you a email about this subject</h3>
            <hr style="height: 2px">

          <p><button class="function-button w3-center" onclick="window.location.href='/home';">Go to Home Page</button></p>
        </div>

      </div>
</div>




</div>