<nav class="navbar navbar-inverse w3-white w3-large">
  <div class="container-fluid w3-padding-16" style="letter-spacing:2px;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle w3-black" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand w3-bar-item w3-button w3-text-black" href="/home"><i>Migrant Worker Protector</i></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
          <li><a class="w3-bar-item w3-button w3-text-black" href="/home">Home</a></li>
          <li>
              <div class="dropdown w3-mobile w3-bar-item">
                  <button class="dropdown-button">Wage Information <i class="fa fa-caret-down"></i></button>
                  <div class="dropdown-content">
                      <a href="/StatisticalData" class="w3-bar-item w3-button w3-mobile">Explore Statistic</a>
                      <a href="/SalaryCalculator" class="w3-bar-item w3-button w3-mobile">Salary Calculator</a>


                  </div>
              </div>
          </li>

          <li><a class="w3-bar-item w3-button w3-text-black" href="/AskForHelp" >Ask For Help</a></li>

          <li><a class="w3-bar-item w3-button w3-text-black active" href="/Game" >Scavenger Hunt Game</a></li>
          <li><a class="w3-bar-item w3-button w3-text-black" href="/Guideline" >Guideline</a></li>


      </ul>

    </div>
  </div>
</nav>

<div class="carousel">

    <h1 class="w3-center">Scavenger Hunt Game</h1>

    <h3 class="w3-center">Discover safety hazards in various workplaces by clicking on the images below.</h3>
    <br>
     <hr>

    <div class="navbar w3-center" style="background-color: #eee; border-radius: 50px;border: none;" >
        <button class="w3-bar-item tab-button imglink" onclick="show(event, 'factory');" id="Factory">Factory</button>
        <button class="w3-bar-item tab-button imglink" onclick="show(event, 'farm');" id="Farm">Farm</button>

        <button class="w3-bar-item tab-button imglink" onclick="show(event, 'office');" id="Office">Office</button>
        <button class="w3-bar-item tab-button imglink" onclick="show(event, 'truckyard');" id="Truck Yard">Truck Yard
        </button>
        <button class="w3-bar-item tab-button imglink" onclick="show(event, 'hospital');" id="Hospital">Hospital</button>


    </div>

     <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
        <!-- The Grid -->
        <div class="w3-row">
            <!-- Left Column -->
            <div class="w3-col m10">
                <canvas id="gameCanvas" width="1080px" height="700px"></canvas>

                <!-- End Left Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-col m2">

                <br>
                <br>
                <h4>Can you find all the hidden dangers?</h4>
                <br>
                <br>
                <div id="tips" class="w3-xlarge"></div>
                <br>
                <br>
                <hr>
                <p style="color: red">If you cannot find all answers, you can click this button to find all answers.</p>
                <br>
                <button class="function-button w3-margin-right" onclick="display_answer_image(event)">Check Answers!</button>

                <button class="function-button w3-margin-right" onclick="window.location.href='/Game';">Clear All</button>

            </div>

            <!-- End Grid -->
        </div>

</div>
    <button id="scroll-button" onclick="scrollPage()"><i id="scroll-icon" class="fa fa-angle-down"></i></button>
</div>

<script>
    points = JSON.parse({{ points|tojson }});
    {#console.debug("points ", points);#}
</script>

<script type="text/javascript" src="/static/js/play.js"></script>

<script type="text/javascript" src="/static/js/temp.js"></script>