<nav class="navbar navbar-inverse w3-white w3-xlarge">
  <div class="container-fluid w3-padding-16" style="letter-spacing:2px;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle w3-black" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand w3-bar-item w3-button w3-text-black" href="/home">Migrant Worker Protector</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="w3-bar-item w3-button w3-text-black" href="/home">Home</a></li>
        <li><a class="w3-bar-item w3-button w3-text-black" href="/StatisticalData">Statistical Data</a></li>
        <li><a class="w3-bar-item w3-button w3-text-black" href="/BackgroundCollection" >Background Collection</a></li>
        <li><a class="w3-bar-item w3-button w3-text-black active" href="/Game" >Scavenger Hunt Game</a></li>
          <li><a class="w3-bar-item w3-button w3-text-black" href="/Guideline" >Guideline</a></li>
      </ul>

    </div>
  </div>
</nav>

<div class="carousel">
    <h1 class="w3-center">Scavenger Hunt Game Answers</h1>
    <br>
    <button class="button w3-center" onclick="window.location.href='/Game';" style="margin-left: 43%">Go Back to The Game</button>
    <br>
    <hr>
    <h3 style="padding-left: 100px">Factory image shows these safety hazards: </h3>
    <br>
    <img src="../static/images/game_answers/Factory.jpeg" class="w3-image" style="padding-left: 100px">
    <ul class="answer">
        <li>rubbish on ground</li>
        <li>unsecured chemicals</li>
        <li>a machine with guarding that's been lifted</li>
        <li>water on floor, which is a trip hazard</li>
        <li>pallets of material stacked unevenly against a wall</li>
        <li>a worker walking in front of a forklift</li>
        <li>pallets of goods blocking a fire exit</li>
        <li>a forklift being stacked to high and the driver being unable to see</li>
    </ul>
<br>
    <hr>
    <br>
    <h3 style="padding-left: 100px">Farm image shows these safety hazards: </h3>
    <br>
    <img src="../static/images/game_answers/Farm.jpeg" class="w3-image" style="padding-left: 100px">
    <ul class="answer">
        <li>chemicals in a shed - unsafe chemical storage</li>
        <li>an unguarded auger</li>
        <li>an over-crowded sheep pen</li>
        <li>a farmer standing on an unstable platform to reach on top of a shed roof</li>
        <li>a person working at height at the top of a silo without fall protection - potentially falling from heights</li>
        <li>a person and child riding a quad bike without a helmet or roll over protection</li>
        <li>children playing near water</li>
        <li>a farmer lifting a hay bail that's too heavy</li>
        <li>a person smoking while refueling a truck</li>
        <li>a person cutting down a tree while standing on a stack of tires to get height</li>
        <li>a person mounting a horse by using a fence</li>
    </ul>
    <br>
    <hr>
    <br>
    <h3 style="padding-left: 100px">Hospital image shows these safety hazards: </h3>
    <br>
    <img src="../static/images/game_answers/Hospital.jpeg" class="w3-image" style="padding-left: 100px">
    <ul class="answer">
        <li>workers lifting a patient incorrectly</li>
        <li>rubbish left on the floor</li>
        <li>pool of water on the floor - slip hazard</li>
        <li>workers approaching an aggressive person</li>
        <li>needles and medicine laying around</li>
        <li>nurse not using gloves</li>
        <li>cord on the floor</li>
        <li>bed blocking a fire exit</li>
    </ul>
    <br>
    <hr>
    <br>
    <h3 style="padding-left: 100px">Office image shows these safety hazards: </h3>
    <br>
    <img src="../static/images/game_answers/Office.jpeg" class="w3-image" style="padding-left: 100px">
    <ul class="answer">
        <li>uneven floor / carpeting - trip hazard</li>
        <li>files one floor - trip hazard</li>
        <li>worker sitting at desks - repetitive movements</li>
        <li>boxes and files stacked too high</li>
        <li>overloaded trolley</li>
        <li>printer placed on the floor instead of on a table</li>
        <li>cord on the floor</li>
        <li>unsafe layout of desk</li>
        <li>worker rocking on chair</li>
        <li>workers carrying too much at once</li>
        <li>boxes blocking the fire exit</li>
    </ul>
    <br>
    <hr>
    <br>
    <h3 style="padding-left: 100px">Truck Yard image shows these safety hazards: </h3>
    <br>

    <img src="../static/images/game_answers/Truckyard.jpeg" class="w3-image" style="padding-left: 100px">
  <ul class="answer">
        <li>truck reversing while a worker is standing behind</li>
        <li>forklift stacked too high and driver cannot see.</li>
        <li>person walking in front of a truck while talking on his mobile</li>
        <li>workers loading dangerous chemicals without PPE</li>
        <li>working on a mezzanine floor with no fall protection</li>
    </ul>

</div>
