<nav class="navbar navbar-inverse w3-white w3-xlarge">
    <div class="container-fluid w3-padding-16" style="letter-spacing:2px;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle w3-black" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand w3-bar-item w3-button w3-text-black" href="/home">Migrant Worker Protector</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="w3-bar-item w3-button w3-text-black" href="/home">Home</a></li>
                <li><a class="w3-bar-item w3-button w3-text-black" href="/StatisticalData">Statistical Data</a></li>
                <li><a class="w3-bar-item w3-button w3-text-black" href="/BackgroundCollection">Background
                    Collection</a></li>
                <li><a class="w3-bar-item w3-button w3-text-black active" href="/Game">Scavenger Hunt Game</a></li>
                <li><a class="w3-bar-item w3-button w3-text-black" href="/Guideline">Guideline</a></li>
            </ul>

        </div>
    </div>
</nav>

<div class="carousel">

    <h1 class="w3-center">Scavenger Hunt Game</h1>
    <hr>
    <h3 class="w3-center">These interactive diagrams that will show you some everyday safety hazards</h3>
    <h4 class="w3-center">Can you find them all?</h4>
    <br>
    {#<div class="w3-dropdown-hover w3-center " style="margin-left: 43%">
          <button class="button" >Select Your Workplace!</button>
          <div class="w3-dropdown-content w3-bar-block w3-border">
              <button class="w3-bar-item w3-button imglink" onclick="show(event, 'farm');" id="Farm">Farm</button>
              <button class="w3-bar-item w3-button imglink" onclick="show(event, 'factory');" id="Factory">Factory</button>
              <button class="w3-bar-item w3-button imglink" onclick="show(event, 'office');" id="Office">Office</button>
              <button class="w3-bar-item w3-button imglink" onclick="show(event, 'truckyard');" id="Truck Yard">Truck Yard</button>
              <button class="w3-bar-item w3-button imglink" onclick="show(event, 'hospital');" id="Hospital">Hospital</button>
          </div>
    </div>#}

    <div class="navbar w3-center">
        <button class="w3-bar-item button imglink" onclick="show(event, 'farm');" id="Farm">Farm</button>
        <button class="w3-bar-item button imglink" onclick="show(event, 'factory');" id="Factory">Factory</button>
        <button class="w3-bar-item button imglink" onclick="show(event, 'office');" id="Office">Office</button>
        <button class="w3-bar-item button imglink" onclick="show(event, 'truckyard');" id="Truck Yard">Truck Yard
        </button>
        <button class="w3-bar-item button imglink" onclick="show(event, 'hospital');" id="Hospital">Hospital</button>


    </div>

    <div class="w3-container w3-center w3-padding-16">
        <div id="tips" class="w3-xlarge"></div>
        <br>
        <br>
        <p style="color: red">If you cannot find all answers, you can click this button to find all answers.</p>
        <button class="button w3-margin-right" onclick="window.location.href='/Game_Answers';">Check Answers!</button>
        <br>
        <br>
        <canvas id="gameCanvas" width="1680px" height="700px"></canvas>
    </div>

</div>

<script>
    points = JSON.parse({{ points|tojson }});
    {#console.debug("points ", points);#}
</script>

<script type="text/javascript" src="/static/js/play.js"></script>

