<div class="carousel slide">
    <header class="w3-display-container w3-content w3-wide" style="max-width:1600px; min-width:200px" id="home">
        <img class="w3-image" src="../static/images/background.jpg" alt="Background" width="1600px" height="800px">
        <div class="w3-display-middle w3-padding-large w3-text-dark-grey">
            <h1 class="w3-xxlage w3-center">WELCOME!</h1>
              <h2>We can give some advice for your work</h2>
        </div>
    </header>

    <!-- Page content -->

    <div class="w3-row-padding w3-center w3-margin-top">
        <div class="w3-third">
          <div class="w3-card w3-container" style="min-height:460px">
          <h3>Statistical Data</h3><br>
          <img src="/static/images/data.png" alt="data_background" style="width: 75%; height: 75%">
          <p>This page can help you find to migrate work related data. E.g. Average Weekly Earnings.</p>
          <button class="w3-button w3-green w3-padding-large w3-large w3-margin-top"><a href="/StatisticalData">View The Statistical Data</a></button>
          </div>
    </div>

    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:460px">
          <h3>Background Information Collection</h3><br>
          <img src="/static/images/info.jpg" alt="information_collection" style="width: 75%; height: 90%">
          <p>On this page you can enter your background information, and we can give you advice based on your background information.</p>
           <button class="w3-button w3-green w3-padding-large w3-large w3-margin-top"><a href="/BackgroundCollection">Complete background information</a></button>

      </div>
    </div>

    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:460px">
          <h3>Recommendation</h3><br>
          <img src="/static/images/image1.jpg" alt="recommendation" style="width: 70%; height: 50%">
          <p>On this page, you can find some recommendation</p>
          <button class="w3-button w3-grey w3-padding-large w3-large w3-margin-top"><a href="/home">View Our Recommendation</a></button>

      </div>
    </div>
    </div>



</div>