<nav class="navbar navbar-inverse w3-white">
  <div class="container-fluid w3-padding-16" style="letter-spacing:2px;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle w3-black" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand w3-bar-item w3-button w3-text-black" href="/home"><i>Migrant Worker Protector</i></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right w3-dropdown-hover">
          <li><button >WAGE INFORMATION <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-border">
              <a href="#" class="w3-bar-item w3-button">RELATED DATA</a>
            </div>
          </li>
          <li><button>WORKING RIGHTS <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-border">
              <a href="#" class="w3-bar-item w3-button">Link 1</a>
              <a href="#" class="w3-bar-item w3-button">Link 2</a>
              <a href="#" class="w3-bar-item w3-button">Link 3</a>
            </div>
          </li>
          <li><button>RESOURCES CENTER <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-border">
              <a href="#" class="w3-bar-item w3-button">Link 1</a>
              <a href="#" class="w3-bar-item w3-button">Link 2</a>
              <a href="#" class="w3-bar-item w3-button">Link 3</a>
            </div>
          </li>
          <li><button>RECOMMENDATION <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-border">
              <a href="#" class="w3-bar-item w3-button">Link 1</a>
              <a href="#" class="w3-bar-item w3-button">Link 2</a>
              <a href="#" class="w3-bar-item w3-button">Link 3</a>
            </div>
          </li>


      </ul>

    </div>
  </div>
</nav>

<div class="carousel">
   <!-- <header class="bg-contains w3-display-container" style="max-width:1600px; min-width:200px" id="home">
        <img class="bg-image" src="../static/images/background.jpg" alt="Background">
        <div class="w3-display-topleft bg-block">
            <h1 style="font-size: 38px;" ><b>We help immigrant clients defend their working rights</b></h1>
            <button class="bg-button w3-center" onclick="window.location.href='/StatisticalData';">GET STARTED</button>
        </div>
    </header>
    -->
    <div class="w3-display-container" style="margin-bottom:50px">
  <img src="../static/images/background.jpg" style="width:100%">
  <div class="w3-display-left w3-container bg-block w3-hide-small"
   style="bottom:10%; left: 10%;height: fit-content;">
      <h5>WELCOME</h5>
  <h2><b>We help immigrant clients defend their working rights</b></h2>
      <button class="bg-button w3-center" onclick="window.location.href='/StatisticalData';">GET STARTED</button>
</div>
</div>


    <div class="w3-row-padding w3-center w3-margin-top">
        <div class="w3-half">
          <div class="w3-card w3-container" style="min-height:460px">
              <h3>Statistic</h3><br>
              <img src="/static/images/data.png" alt="data_background" style="width: 75%; height: 75%">
              <p class="w3-margin-top">This page can help you find to migrate work related data. E.g. Average Weekly Earnings.</p>
              <button class="button" onclick="window.location.href='/StatisticalData';">Statistical Data</button>
                <br>
              <br>
              <br>
          </div>
    </div>

    <div class="w3-half">
      <div class="w3-card w3-container" style="min-height:460px">
          <h3>Background Information Collection</h3><br>
          <img src="/static/images/info.jpg" alt="information_collection" style="width: 75%; height: 50%">
          <p class="w3-margin-top">On this page you can enter your background information, and we can give you advice based on your background information.</p>
           <button class="button" onclick="window.location.href='/BackgroundCollection';">Complete background information</button>

          <br>
          <br>
      </div>
    </div>

    </div>



</div>



