<nav class="navbar navbar-inverse w3-white w3-xlarge">
  <div class="container-fluid w3-padding-16" style="letter-spacing:2px;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle w3-black" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand w3-bar-item w3-button w3-text-black" href="/home">Migrant Worker Protector</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="w3-bar-item w3-button w3-text-black" href="/home">Home</a></li>
        <li><a class="w3-bar-item w3-button w3-text-black" href="/StatisticalData">Statistical Data</a></li>
        <li><a class="w3-bar-item w3-button w3-text-black active" href="/BackgroundCollection" >Background Collection</a></li>
          <li><a class="w3-bar-item w3-button w3-text-black" href="/Game" >Scavenger Hunt Game</a></li>
          <li><a class="w3-bar-item w3-button w3-text-black" href="/Guideline" >Guideline</a></li>
      </ul>

    </div>
  </div>
</nav>

<div class="carousel">

    <h1 class="w3-center">Background Information Collection for Your Recommendation</h1>
    <hr>

    <div class="w3-display-container w3-content" style="max-width:1500px;min-width:200px">
      <img class="w3-image" src="../static/images/infor_background.jpg" alt="info_background" width="5001" height="3335" style="opacity: 35%;">
      <div class="w3-display-topmiddle w3-padding-16 w3-card" style="width:90%; background-color: antiquewhite">
        <!-- Tabs -->
        <form class="w3-container w3-white w3-padding-16 myLink" action="/BackgroundCollection" method="post">
            <h3 class="w3-center">Please fill your background information</h3>
            <h4 class="w3-center">so that we can give you some advices based on your background.</h4>
            <hr style="height: 2px">
          <div class="w3-row-padding" style="margin:0 -16px;">
            <div class="w3-half">
                <label>Your Age (Optional)</label>
                <input class="w3-input w3-border" type="text" placeholder="Your Age" name="age" onkeypress="return isNumber(event)" maxlength="3" onchange="handleChange(this)">
                <br>
                <label style="margin-bottom: 0">Gender (Optional)</label>
                <select class="w3-input w3-section w3-border" name="gender">
                    <option>Select your gender...</option>
                    <option>Female</option>
                    <option>Male</option>
                    <option>Others</option>
                    <option>Not important</option>
                </select>
                <label class="required">What is your type of employment?</label>
                <select class="w3-input w3-section w3-border" required name="major">
                    <option>Select your type of employment...</option>
                    <option>Full time</option>
                    <option>Part time</option>
                    <option>Casual</option>
                    <option>Not important</option>
                </select>
                <br>
                <label class="required">Your Skill Level</label>
                <select class="w3-input w3-section w3-border" required name="skills">
                    <option>Select your skill level...</option>
                    <option>Level 1</option>
                    <option>Level 2</option>
                    <option>Level 3</option>
                    <option>Level 4</option>
                    <option>Level 5</option>
                    <option>Not important</option>
                </select>
                <br>
                <label>Your Industry (Optional)</label>
                <select class="w3-input w3-section w3-border" required name="industry">
                    <option>Select your industry...</option>
                    <option>Agriculture</option>
                    <option>Air, rail and water transport</option>
                    <option>Arts and recreational services</option>
                    <option>Building, construction and on-site trades</option>
                    <option>Business, Finance and Employment Services</option>
                    <option>Clerical</option>
                    <option>Contract Cleaning</option>
                    <option>Education, training and children's services</option>
                    <option>Food manufacturing and processing</option>
                    <option>Hair and Beauty</option>
                    <option>Health Support Services</option>
                    <option>Horticulture</option>
                    <option>Hospitality</option>
                    <option>Manufacturing</option>
                    <option>Mining</option>
                    <option>Personal and household services</option>
                    <option>Power, water and gas</option>
                    <option>Print, Media and Telecommunications</option>
                    <option>Professional Services</option>
                    <option>Real Estate</option>
                    <option>Retail</option>
                    <option>Retail Trade</option>
                    <option>Road Transport</option>
                    <option>Security</option>
                    <option>Security and public services</option>
                    <option>Social, community, disability and home care services</option>
                    <option>Storage services and wholesale</option>
                    <option>Other</option>
                </select>
                <br>
                <label class="required">Your Experience</label>
                <textarea class="w3-input w3-section w3-border" placeholder="Please describe the problems you encounter in your work" required name="experience"  rows="10" cols="50"></textarea>
                </div>
                <div class="w3-half">
                    <br>
                    <br>
                    <br>
                    <br>
                    <img class="w3-image" src="../static/images/information-img.jpg" alt="info_display" >
                </div>
            </div>

            <br>
            <div class="w3-row-padding" style="margin:0 -16px;">
                <div class="w3-half">
          <p><button class="button">Submit</button></p>
                </div>
                <div class="w3-half">
                    <p><button class="button" type="reset">Reset</button></p>
                </div>
            </div>
        </form>

      </div>
</div>




</div>