<nav class="navbar navbar-inverse w3-white w3-large">
    <div class="container-fluid w3-padding-16" style="letter-spacing:2px;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle w3-black" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand w3-bar-item w3-button w3-text-black" href="/home"><i>Migrant Worker Protector</i></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="w3-bar-item w3-button w3-text-black" href="/home">Home</a></li>
                <li>
                    <div class="dropdown w3-mobile w3-bar-item">
                        <button class="dropdown-button">Wage Information <i class="fa fa-caret-down"></i></button>
                        <div class="dropdown-content">

                            <a href="/StatisticalData" class="w3-bar-item w3-button w3-mobile">Explore Statistic</a>
                            <a href="/SalaryCalculator" class="w3-bar-item w3-button w3-mobile">Salary Calculator</a>

                        </div>
                    </div>
                </li>

                <li><a class="w3-bar-item w3-button w3-text-black" href="/Game">Scavenger Hunt Game</a></li>
                <li><a class="w3-bar-item w3-button w3-text-black" href="/AskForHelp">Ask For Help</a></li>


                <li><a class="w3-bar-item w3-button w3-text-black" href="/Guideline">Guideline</a></li>


            </ul>

        </div>
    </div>
</nav>

<div class="carousel">

    <h1 class="w3-center" style="color: black">Privacy Policy</h1>
    <h3 class="w3-center" style="color: black">Lasted Updated: 16/05/2023</h3>
    <!-- Page Container -->
    <div class="w3-container w3-content privacy-image" style="max-width:1400px;margin-top:80px">
        <!-- The Grid -->

                <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                    <div class="w3-row-padding">
                        <div class="w3-col m12">
                            <h2 style="font-size: 20px"><b>Introduction</b></h2>
                            <hr class="w3-clear">
                            <p>We respect your privacy and are committed to protecting your personal information. This policy explains how we collect and use your personal information.</p>
                        </div>

                    </div>



                </div>

                <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                    <div class="w3-row-padding">
                        <div class="w3-col m12">
                            <h2 style="font-size: 20px"><b>Collection of Personal Information</b></h2>
                            <hr class="w3-clear">
                            <p>We do not collect personal information about you, except when you provide it to us. We only collect your email address if you voluntarily provide it to us.</p>
                        </div>

                    </div>



                </div>
                <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                    <div class="w3-row-padding">
                        <div class="w3-col m12">
                            <h2 style="font-size: 20px"><b>Use of Personal Information</b></h2>
                            <hr class="w3-clear">
                            <p>We do not store your personal information in our database. We will only use your email address to send you updates about our services if you have subscribed to our mailing list.</p>
                        </div>

                    </div>



                </div>
                <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                    <div class="w3-row-padding">
                        <div class="w3-col m12">
                            <h2 style="font-size: 20px"><b>Disclosure of Personal Information</b></h2>
                            <hr class="w3-clear">
                            <p>We do not share your personal information with any third parties, except as required by law or as necessary to provide our services to you.</p>
                        </div>

                    </div>



                </div>
                <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                    <div class="w3-row-padding">
                        <div class="w3-col m12">
                            <h2 style="font-size: 20px"><b>Security</b></h2>
                            <hr class="w3-clear">
                            <p>We use industry-standard security measures to protect your information from unauthorized access, and we are committed to keeping your information safe and secure at all times.</p>
                        </div>

                    </div>



                </div>

            </div>

            <!-- End Grid -->

<button id="scroll-button" onclick="scrollPage()"><i id="scroll-icon" class="fa fa-angle-down"></i></button>

</div>
<script type="text/javascript" src="/static/js/temp.js"></script>