<nav class="navbar navbar-inverse w3-white w3-large">
    <div class="container-fluid w3-padding-16" style="letter-spacing:2px;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle w3-black" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand w3-bar-item w3-button w3-text-black" href="/home"><i>Migrant Worker Protector</i></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="w3-bar-item w3-button w3-text-black" href="/home">Home</a></li>
                <li>
                    <div class="dropdown w3-mobile w3-bar-item">
                        <button class="dropdown-button">Wage Information <i class="fa fa-caret-down"></i></button>
                        <div class="dropdown-content">

                            <a href="/StatisticalData" class="w3-bar-item w3-button w3-mobile">Explore Statistic</a>
                            <a href="/SalaryCalculator" class="w3-bar-item w3-button w3-mobile">Salary Calculator</a>

                        </div>
                    </div>
                </li>

                <li><a class="w3-bar-item w3-button w3-text-black" href="/AskForHelp">Ask For Help</a></li>

                <li><a class="w3-bar-item w3-button w3-text-black" href="/Game">Scavenger Hunt Game</a></li>
                <li><a class="w3-bar-item w3-button w3-text-black" href="/Guideline">Guideline</a></li>


            </ul>

        </div>
    </div>
</nav>

<div class="carousel ">

    <h1 class="w3-center">Reference</h1>
    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
        <!-- The Grid -->
        <p>Welcome to the reference page of Migrant worker protector website.</p>
        <p>This page contains a list of helpful resources for migrant workers, including links to organizations, government agencies, and websites that provide information and support.</p>

        <p>Here are some of the resources that you can find on this page:</p>

        <p>Migrant workers rights and protections</p>
        <p>Legal aid and advocacy organizations</p>
        <p>Health and safety resources</p>
        <p>Language services and translation assistance</p>
        <p>Educational and job training programs</p>
<p>We hope that these resources will be helpful to you. If you have any suggestions for additional resources that we should include on this page, please let us know by contacting us at [insert email or contact form link].</p>
    </div>

            <!-- End Grid -->


</div>