<nav class="navbar navbar-inverse w3-white">
  <div class="container-fluid w3-padding-16" style="letter-spacing:2px;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle w3-black" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand w3-bar-item w3-button w3-text-black" href="/home">Migrate Worker Protector</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="w3-bar-item w3-button w3-text-black" href="/home">Home</a></li>
        <li><a class="w3-bar-item w3-button w3-text-black" href="/StatisticalData">Statistical Data</a></li>
        <li><a class="w3-bar-item w3-button w3-text-black" href="/BackgroundCollection" >Background Collection</a></li>
        <li><a class="w3-bar-item w3-button w3-text-black" href="/Recommendation">Recommendation</a></li>
        <li><a class="w3-bar-item w3-button w3-text-black active" href="/Support">Support</a></li>
        <li><a class="w3-bar-item w3-button w3-text-black" href="/About">About Us</a></li>
      </ul>

    </div>
  </div>
</nav>

<h1 class="w3-center">This feature is still under construction</h1>