<!-- Footer -->

<footer class="lynx-footer-2">
    <div class="w-layout-grid lynx-grid-footer-2">
        <div class="lynx-block-footer-2">
            <a href="/home" class="link-5">Migrant Worker Protector</a>
            <a class="lynx-link-footer-2">COPYRIGHT: FIT5120 TP9</a>
        </div>
        <div class="lynx-block-footer-2">
            <div class="lynx-heading-footer-2">Quick Links</div>
            <a href="/StatisticalData" class="lynx-link-footer-large-2">Explore Statistic</a>
            <a href="/SalaryCalculator" class="lynx-link-footer-large-2">Salary Calculator</a>
            <a href="/Guideline" class="lynx-link-footer-large-2">Guideline</a>
            <!--<a href="#" class="lynx-link-footer-large-2">Calculator</a>
            <a href="#" class="lynx-link-footer-large-2">Recommendation</a>-->
        </div>
        <div class="lynx-block-footer-2">
            <div class="lynx-heading-footer-2">Site Information</div>
            <a href="/AboutUs" class="lynx-link-footer-large-2">ABOUT US</a>
            <a href="/Privacy" class="lynx-link-footer-large-2">Privacy Policy</a>
            <a href="/Reference" class="lynx-link-footer-large-2">Reference</a>
        </div>
    </div>
</footer>
</body>

</html>